<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">{{'cookbook_label'|trans}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url('recipe_index') }}" title="{{ 'recipe_view'|trans }}">
                    {{ 'recipe_view'|trans }}
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('category_index') }}" title="{{ 'category_view'|trans }}">
                        {{ 'category_view'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <span class="navbar-text">
                   {{'logged_as'|trans}}:  {{ app.user.email }}

                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
                            <a href="{{ url('user_password_change', {'id':app.user.id}) }}">{{'password_change'|trans}}</a>
                        </button>
                       <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
                        <a href="{{ url('app_logout') }}">{{ 'action_logout'|trans }}</a>
                       </button>

               </span>
        {% else %}\
        <span class="navbar-text">
                   Nie zalogowano!
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
                    <a href="{{ url('app_login') }}">{{ 'action_login'|trans }}</a>
            </button>
        </span>
        {% endif %}
    </div>
</nav>