<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Książka kucharska</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url('recipe_index') }}" title="{{ 'recipe_view'|trans }}">
                {{ 'recipe_view'|trans }}
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url('category_index') }}" title="{{ 'category_view'|trans }}">
                {{ 'category_view'|trans }}
            </a>
        </li>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item">
               <span class="navbar-text">
                    Logged as:  {{ app.user.email }}
                   <a href="{{ url('app_logout') }}">{{ 'action_logout'|trans }}</a>
               </span>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_login') }}">{{ 'action_login'|trans }}</a>
            </li>
        {% endif %}

    </ul>
</nav>