{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_recipe_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_recipe_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <p>
        <a href="{{ url('recipe_create') }}" title="{{ 'create_view'|trans }}">
            {{ 'create_view'|trans }}
        </a>
        </p>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'recipe.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'recipe.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.title') }}</th>
                <th>{{ 'Tagi'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for recipe in pagination.items %}
                <tr>
                    <td>{{ recipe.id }}</td>
                    <td>{{ recipe.title }}</td>
                    <td>{{ recipe.category.title }}</td>
                    <td> {% if recipe.tags|length %}
                        {% for tag in recipe.tags %}
                            <span>{{ tag.title }}</span>
                        {% endfor %}
                    </td>
                    {% endif %}
                    <td>
                        <a href="{{ url('recipe_show', {id: recipe.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                        <a href="{{ url('recipe_delete', {id: recipe.id}) }}" title="{{ 'delete_view'|trans }}">
                            {{ 'delete_view'|trans }}
                        </a>
                        <a href="{{ url('recipe_edit', {id: recipe.id}) }}" title="{{ 'edit_view'|trans }}">
                            {{ 'edit_view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            <a href="{{ url('category_index') }}" title="{{ 'category_view'|trans }}">
                {{ 'category_view'|trans }}
            </a>
        </p>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            <a href="{{ url('recipe_create') }}" title="{{ 'create_view'|trans }}">
                {{ 'create_view'|trans }}
            </a>
        </p>
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}