{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_recipe_details'|trans({'%id%': recipe.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_recipe_details'|trans({'%id%': recipe.id|default('')}) }}</h1>
    {% if recipe is defined and recipe|length %}

        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ recipe.id }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  recipe.category.title }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  recipe.title }}</dd>
            <dt>{{ 'label_content'|trans }}</dt>
            <dd>{{  recipe.content }}</dd>
            <dt>{{ 'tags'|trans }}</dt>
            <dd>
                {% for tag in recipe.tags %}
                    <span>{{ tag.title }}</span>
                {% endfor %}
            </dd>
        </dl>


        <p>
            <a href="{{ url('recipe_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>

        <h1>{{'comments_label'|trans}}</h1>
        <a class="btn btn-primary" href="{{ url('comment_create', {id: recipe.id}) }}" title="{{ 'comments_add'|trans }}" role="button">{{ 'comments_add'|trans }}</a>


        {% for comment in recipe.comments %}
            <div>

                <b>{{ comment.nick }}</b>
                {{ comment.email }}
                <p>{{ comment.content }}

                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action_delete'|trans }}">
                        {{ 'action_delete'|trans }}
                    </a>
                {% endif %}
            </div>
        {% endfor %}

    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}